<main role="main" class="container">
  <div class="jumbotron">
    <h1><%= image_tag("SHCS.png") %> Smart Health Care System</h1>
    <p>A Doctor to Patient Solution</p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
  </div>
</main>
